body {
    margin: 0;
    min-height: 100vh;
    background:#006400CC;
}

.header {
    padding: 20px 0;
    height: 2px;    
}

.logo-container {
    margin-top: 230px; /* Define o deslocamento para baixo */
    margin-left: 100px;
}

.logo-text {
    font-size: 13px;
    font-family: Inter;
    font-weight: bold;
    color: #319A30;
    margin-left: 350px;
    margin-top: -150px; /* sobe o texto */
}


.login-container {
    background: #97EE96E5;
    border-radius: 30px;
    padding: 40px;
    padding-right: 69px;
    max-width: 400px;
    margin-left: 1200px;
    margin-top: 100px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #191970;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login-btn {
    font-family: Inknut Antiqua;
    width: 100%;
    padding: 15px;
    background:#FFFFFF;
    color:#00640099;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
}

.forgot-password a {
    color: #191970;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

